html {
  height: 100%;
}

body { 
  color: #FFFFEA;

  /* The image used */
  background-image: url(../images/rover.jpg);

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  text-shadow: 2px 2px 4px #000000;
}

nav {
	font-family: 'Graduate', cursive;
}

.navbar {
	background-color: #7B5F4B;
	border: none;
	border-radius: 0;
  display: flex; 
  justify-content: center;
}

.navbar-brand {
  font-size: 30px
}

main {
/*  padding-top: 15px;*/
  font-family: Quicksand, sans-serif;
}

.lead {
  font-size: 30px;
}

/*.form-group {
  display: flex; 
  justify-content: center;
}*/

/* Validation Warning */
.warning {
  color: #FF6933;
  font-size:1.25em;
  vertical-align:middle;
  margin-left: 10px;

}

#message {
  color: #FF6933;
  font-size:1.25em;
}
.mars-pics {
  border-radius: 4px;
  padding-bottom: 15px;
}

.text-about {
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 25px;
}